.bsmi-toc {
    border: 1px solid #ccc;
    float: right;
    width: 340px;
    min-height: 400px;
    position: fixed;
    right: 24px;
    top: 110px;
    background: #fff;
    padding: 10px;
    overflow: auto;
    max-height: 800px
}

.bsmi-toc ul {
    padding-left: 24px
}

.bsmi-toc h2 {
    margin: 4px
}

.bsmi-toc li {
    list-style-type: none
}
